body{
	background: #fafafa;
	margin: 0;
	padding: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 10pt;
}

input{
	font-size:8pt;
}

h1, .h1, h2, .h2, h3, .h3{
	margin: 5px 0;
}

hr{
	margin:10px 0;
}

a{
	color: #222288;
	text-decoration: none;
	font-weight:700;
}

button a{
	color:#000000;
	font-weight:300;
	font-size:8pt;
}

.clear{
	clear:both;
}

.smalltext{
	margin-left:20px;
	font-size:8pt;
	font-style:italic;
}

.create-label{
	float: left;
	width:135px;
	text-align:right;
	margin-right:8px;
}

#leftCol{
	width:400px;
	float:left;
	margin: 0 30px 0 0;
}

#rightCol{
	width:49%;
	float:left;
}

#container{

	margin: 5px 20px;
}

#head{
}

#logo{
	float: left;
	margin: 0 0 5px 0;
	width:800px;
	height:95px;
}

#nav{
	float: left;
}

#nav a{
	color: #222288;
	text-decoration: none;
	font-weight: bold;
}

#nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#nav li{
	float: left;
	margin: 0 45px 3px 0;
}

#login{
	background: #fafafa;
	float:right;
	font-size:10pt;
	position:absolute;
	right: 20px;
	top: 10px;
}

#login a{
	color: #222288;
	text-decoration: none;
	font-weight: bold;
}

.login-input{
	float:right;
}

#content{
	margin: 0 auto;
	min-height:400px;
}

#footer{
	font-size: 8pt;
	margin:40px 0 0 0;
}

#create-survivor{
	width:300px;
	margin: 0 auto;
}

#create-submit{
	float:right;
}

#user-control{
}

#user-control a{
	color: #222288;
	text-decoration: none;
	font-weight: bold;
}

#user-control ul{
	margin:0;
	padding:0;
	list-style-type:none;
}

#user-control li{
	margin: 5px 0;
}

#user-control li:first-child{
	font-size:11pt;
}

#page-content{
	float:left;
	position:absolute;
	margin: 0 0 20px 195px;
	padding-right:20px;
}

#camp-move{
	padding:20px 0;
}

#camp-messages{

}

#camp-members{

}

#camp-body{
	border-left: 7px #bfbfbf solid;
	border-top: 7px #bfbfbf solid;
	padding: 0 7px;
	margin: 15px 0 0 0;
}

.camp-msg{
	margin: 3px 0;
	padding: 2px;
	border:1px solid #9f9f9f;
	border-radius:3px;
}

.camp-mem{
	margin: 3px 0;
	padding: 2px 5px;
	border:1px solid #9f9f9f;
	border-radius:3px;
}

.msg-head{
	font-size: 9pt;
	padding: 4px 2px;
	border-bottom: 1px solid #9f9f9f;
}

.msg-time{
	float:right;
}

.cmp-msg-con{
	padding: 3px 3px 3px 20px;
}

.camp-upd{
	padding: 3px;
}

#camp-updates{
	border-top: 1px solid #9f9f9f;
}

.action{
	padding: 3px 10px;
	margin: 10px 0;
	border: 1px solid #9f9f9f;
	border-radius: 3px;
	background: #ffffff;
}

.action input{
	width: 80px;
}

.action-active{
	background: #66cc66;
}

#survivor-desc{
	margin:0 0 15px 0;
}

#supporter-list{
	margin:0 0 15px 0;
}

.supporter{
	margin: 3px 0;
	padding: 0 5px;
	border:1px solid #9f9f9f;
	border-radius:3px;
}

.control-exile{
	float:right;
}

.news-title{
	margin: 20px 0 5px 5px;
}

.news-info{
	font-size:8pt;
	margin:0 0 10px 20px;
}

.news-content{
	border-left: 7px #bfbfbf solid;
	border-top: 7px #bfbfbf solid;
	padding: 7px;
	width: 70%;
}

#reserved-space{
	height: 350px;
	background:#dfdfdf;
	margin: 15px 15px 0 0;
}
